<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include richardhead.html -%}

  <body style="background-color: #1e1e1e; color: #e0e0e0;"> <!-- Dark background and light text -->

    {%- include richardheader.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style="background-color: #1e1e1e; padding: 20px; border-radius: 0px;"> <!-- Slightly lighter dark background for content wrapper -->
        {{ content }}
      </div>
    </main>

    {%- include richardfooter.html -%}

  </body>

</html>

